@use '../../../../main.scss' as main;

.features-content {
    background-color: main.$text-background-color;
    border-radius: 35px;
    margin: 130px auto;
    height: 300px;

    .features-text {
        padding: 30px;
        h3 {
            font-size: 30px;
        }
        p {
            max-width: 65%;
            font-size: 15px;
        }
    }

    img {
        height: 120%;
        width: auto;
    }
    
} 

@media (max-width: 768px) {
    .features-content {
        margin: 100px auto;
        height: 220px;

        .features-text {
            padding: 20px;
            h3 {
                font-size: 20px;
            }
            p {
                max-width: 100%;
                font-size: 12px;
            }
        }

        img {
            height: 130%;
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .features-content {
        margin: 30px auto;
        height: auto;
        width: 100%;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .features-text {
            padding: 15px;
            gap: 10px;
            display: flex;
            flex-direction: column;
            h3 {
                font-size: 26px;
            }
            p {
                font-size: 12px;
            }
        }
        img {
            display: none;
        }
    }
}