@use '../../../../main.scss' as main;

.banner-cards {
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem; 
    padding: 40px 0;
    justify-items: center;
    justify-items: stretch;
    margin-bottom: 50px;

    .card-banner {
        border-radius: 45px;
        width: 100%;
        height: 300px;
        padding: 40px;
        box-sizing: border-box;
        box-shadow: 0 4px 1px rgba(0, 0, 0);
        .card-text {
            width: 50%;
            height: 100%;
            h3 {
                max-width: 60%;
                display: inline-block;
                padding: 5px 10px; 
                border-radius: 10px; 
                font-size: 24px; 
            }
            .banner-btn {
                button {
                    padding: 0 15px;
                    border: none;
                    background-color: transparent;
                }
                img {
                    transition: transform 0.3s ease;
                }
                &:hover {
                    img {
                        transform: rotate(30deg); 
                    }
                }
            }
        }
        .banner-img {
            max-width: 210px;
            max-height: auto;
        }
    }
    .primary {
        border: 1px solid main.$terciary-color;
        background-color: main.$text-background-color;
        h3 {
            color: main.$terciary-color;
            background-color: main.$secondary-color;
            padding: 0 5px;
        }
    }
    .secondary {
        border: 1px solid main.$terciary-color;
        background-color: main.$secondary-color;
        h3 {
            color: main.$terciary-color;
            background-color: main.$primary-color;
            padding: 0 5px;
        }
    }
    .tertiary {
        border: 1px solid main.$terciary-color;
        background-color: main.$terciary-color;
        h3 {
            color: main.$terciary-color;
            background-color: main.$secondary-color;
            padding: 0 5px;
        }
        p {
            color: main.$primary-color;
        }
    }
}

@media (max-width: 1024px) {
    .banner-cards {
        grid-template-columns: repeat(1, 1fr); 
    }
}

@media (max-width: 768px) {
    .banner-cards {
        grid-template-columns: repeat(1, 1fr); 
    }
}

@media (max-width: 480px) {
    .banner-cards {
        grid-template-columns: repeat(1, 1fr); 
        
        .card-banner {
            height: auto;
            padding: 20px;
            margin: auto;
            border-radius: 25px;
            .card-text {
                width: 60%;
                height: auto;
                h3 {
                    max-width: 80%;
                    display: inline-block;
                    padding: 5px 10px; 
                    font-size: 18px; 
                }
                .banner-btn {
                    padding-top: 40px;
                    button {
                        padding: 0 10px;
                        border: none;
                        background-color: transparent;
                    }
                    img {
                        align-items: center;
                        transition: transform 0.3s ease;
                        width: 35px;
                        transform: rotate(30deg); 
                    }
                }
            }
        }
        .banner-img {
            width: 120px;
            height: auto;
        }
    }
}