@use '../../../../main.scss' as main;

.featured-container {
    background-color: main.$terciary-color;
    color: main.$primary-color;
    padding: 50px;
    border-radius: 45px;
    box-sizing: border-box;

    .featured-text {
        max-width: 45%;
        h3 {
            display: inline-block;
            color: main.$terciary-color;
            background-color: main.$secondary-color;
            padding: 0 5px;
            border-radius: 5px;
            font-size: 40px;
            margin-bottom: 40px;
            letter-spacing: 1px;
        }
        h4 {
            font-size: 25px;
            padding: 10px 0;
            max-width: 70%;
            font-weight: 400;
            letter-spacing: 1px;
        }
        p { 
            font-size: 18px;
            padding: 20px 0;
            color: main.$text-background-color;
            font-weight: 100;
        }
        .btn-text {
            p {
                color: main.$secondary-color;
            }
            button {
                border: none;
                background-color: transparent;
                img {
                    transition: transform 0.3s ease;
                }
                &:hover {
                    img {
                        transform: rotate(30deg); 
                    }
                }
            }
            img {
                transition: transform 0.3s ease;
            }
            &:hover {
                img {
                    transform: rotate(30deg); 
                }
            }
        }
    }
    .featured-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        max-width: 40%;
        margin-left: auto;
        
        .featured-card {
            background-color: main.$primary-color;
            border-radius: 25px;
            color: main.$terciary-color;
            text-align: center;
            padding: 20px 0; 
            min-height: 200px;

            h3 {
                font-size: 40px;
            }
            p {
                font-size: 20px;
            }
        }
    }
}



@media (max-width: 768px) {
    .featured-container {
        flex-direction: column;
        align-items: center;

        .featured-text {
            max-width: 100%;
            text-align: center;
            h3 {
                font-size: 30px;
            }
            h4 {
                font-size: 20px;
                max-width: 100%;
            }
            p {
                font-size: 16px;
                width: 100%;
            }
        }

        .featured-cards {
            grid-template-columns: repeat(2, 1fr);
            max-width: 100%;
            margin: 20px 0;
        }
    }
}

