@use '../../main.scss' as main;

.contact-container {
    position: relative;
    background-color: main.$text-background-color;
    color: main.$terciary-color;
    padding: 60px 100px;
    border-radius: 45px;
    box-sizing: border-box;
    margin-bottom: 100px;


    .radio-options {
        display: flex;
        gap: 40px;

        label {
            display: flex;
            cursor: pointer;
    
            input[type="radio"] {
                padding: 0;
                appearance: none; 
                width: 20px;
                height: 20px;
                border: 1px solid main.$terciary-color; 
                border-radius: 50%; 
                outline: none;
                cursor: pointer;
                display: inline-block;
                position: relative;
                margin: auto 10px auto 0;
    
                &:checked {
                    background-color: main.$primary-color; 
                    border-color: main.$terciary-color; 
                }
    
                &:checked::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 10px;
                    height: 10px;
                    background-color: main.$secondary-color;
                    border-radius: 50%;
                }
            }
        }
    }

    .contact-form {
        width: 450px;
        .radio-form {
            padding-bottom: 30px;
        }
        .label-form {
            font-size: 20px;
            padding-bottom: 10px;
        }
        input {
            border-radius: 10px;
            border: 1px solid main.$terciary-color;
            padding: 15px 20px;
            margin-bottom: 20px;
            font-size: 15px;
            &::placeholder {
                color: main.$terciary-color;
                font-size: 15px; 
            }
        }
        .text-area {
            border-radius: 15px;
            border: 1px solid main.$terciary-color;
            padding: 15px 20px;
            margin-bottom: 20px;
            height: 150px;
            font-size: 15px; 
            margin-bottom: 20px;  
            resize: none; 
            &::placeholder {
                color: main.$terciary-color;
                font-size: 15px; 
                font-family: main.$font-family;
            }
        }
    }

    img {
        position: absolute;
        right: 0;
        height: auto;
        max-height: 90%;
        max-width: 30%;
    }
}
.success-message-container {
    height: 20px; 
    margin-top: 10px; 
    text-align: center; 
}
.success-message {
    color: main.$terciary-color;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.success-message-container:not(:has(.success-message)) {
    visibility: hidden;
}
@media (max-width: 768px) {
    .contact-container {
        width: 100%;
        margin: auto;
        padding: 20px;
        .contact-form {
            width: 100%;
        }
        img {
            display: none;
        }
    }
    .radio-options {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .contact-container {
        padding: 30px;
        margin-bottom: 50px;
        align-items: center;
        
        img {
            display: none;
        }
    }   
    .radio-options {
        justify-content: center;
    }
}