@use '../../../../main.scss' as main;

.price-content {
    h1 {
        font-size: 50px;
        color: main.$terciary-color;
        margin-bottom: 20px;
        font-weight: 600;
        padding-top: 20px;
        letter-spacing: 1px;
    }
}
.price-cards {
    padding: 50px 0;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    .price-card {
        position: relative;
        border: 1px solid main.$terciary-color;
        box-shadow: 0 4px 1px rgba(0, 0, 0);
        border-radius: 25px;
        padding: 30px;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
        align-items: stretch;

        .price-img-popular {
            position: absolute; 
            top: 30px; 
            right: 30px; 
            width: 80px; 
            height: auto; 
        }
        .price-card-title {
            font-size: 30px;
            font-weight: 600;
            padding-bottom: 20px;
        }
        .price-card-cost {
            gap: 10px;
            .price-card-price {
                font-size: 45px;
            }
        }
        .price-card-buttons {
            padding: 30px 0;
            gap: 20px;
        }
        .price-card-features {
            padding-top: 20px;
            border-top: 1px solid main.$terciary-color;
            list-style: none;
            padding-left: 0;
            img {
                padding-right: 20px;
            }
        }

        &:hover {
            background-color: main.$terciary-color;
            border: 1px solid transparent;
            box-shadow: none;
            color: main.$primary-color;
            .price-card-buttons {
                button {
                    &.secondary {
                        background-color: main.$secondary-color; 
                        color: main.$terciary-color;
                    }
                    &.primary {
                        background-color: main.$terciary-color; 
                        color: main.$primary-color;
                        border: 1px solid main.$primary-color;
                    }
                }
            }
            .price-card-features {
                border-top: 1px solid main.$primary-color;
            }
        }
    }   
}


@media (max-width: 1024px) {
    .price-cards {
        margin: 0 auto;
        width: 50%;
        grid-template-columns: repeat(1, 1fr); 
        .price-card {
            width: 100%;
        }
    }
}

// Responsividade para telas pequenas
@media (max-width: 768px) {
    .price-cards {
        margin: 0 auto;
        width: 90%;
        grid-template-columns: repeat(1, 1fr); 
        .price-card {
            width: 100%;
        }
    }
    .price-card-features {
        padding-top: 20px;
        border-top: 1px solid main.$terciary-color;
        list-style: none;
        
        img {
            padding-right: 20px;
        }
    }
}