@use '../../../../main.scss' as main;

.card-footer {
    background-color: main.$primary-color;
    border: 1px solid main.$terciary-color;
    color: main.$terciary-color;
    border-radius: 45px;
    box-sizing: border-box;
    padding: 60px;
    margin-bottom: 100px;
    box-shadow: 0 4px 1px rgba(0, 0, 0);;
    .card-text {
        width: 60%;
        h3 {
            font-size: 30px;
            padding-bottom: 10px;
        }
        h4 {
            padding-bottom: 40px;
        }
        p {
            border-top: 1px solid main.$terciary-color;
            padding-top: 30px;
        }
    }
    img {
        width: 40%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .card-footer {
        padding: 40px;
        margin-bottom: 50px;
        flex-direction: column;
        .card-text {
            width: 100%;
            h3 {
                font-size: 20px;
            }
            h4 {
                font-size: 16px;
            }
            p {
                font-size: 14px;
            }
        }
        img {
            width: 80%;
            padding: 40px 0;
        }
    }
    
}